*{
    margin : 0;
    padding : 0;
    list-style: none;
    text-decoration: none;
}

.sidebar{
    position: fixed;
    left:0;
    width: 300px;
    height: 100%;
    background: #042331;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: .4s;  
}
/*ul li:hover a{
    padding-left: 50px;
}*/
.sidebar ul a i{
    margin-right: 16px;
}

.sidebar .details img{
    height: 100px;
    width: 100px;
    margin-top: 30px;
    border-radius: 50%;
    border: 2px solid #fff;

}
.sidebar header{
    font-size: 20px;
    color: white;
    text-align: center;
    height: 220px;
    background: #063143;
    user-select: none;
}
.sidebar header a{
    color: #496bf1;
    font-size: 15px;
}
.sidebar header h3{
    margin-top: 10px;
}

.main{
    margin-left: 380px;
    padding-top: 40px;
}
.main h3{
    font-size: 25px;
    margin-left: 330px;
    padding-bottom: 20px;
    color: #496bf1;
}

.details_table{
    border-collapse: collapse;
    font-size: 20px;
    width: 800px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15) ;

    
}
.details_table th,
.details_table td{
    padding:9px 15px;
    text-align: center;
    
}
.details_table th{
    background-color: #2980b9;
    color: #fff;
}


.details_table tbody tr{
    
    text-align: center;
    color:black;
    font-size: 20px;
    padding-top: 40px;
    font-weight: 500;
}

.details_table tbody tr:nth-child(even) {
    background-color: #e8e8e8;
}
.details_table tbody tr a{
    color: black;
    font-size: 20px;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 10px;
}


